$subrayado: underline 2px white;
$estilos: (
  color: black,
  font: "Oswald", sans-serif,
);

@mixin sizes ($width; $height) {
  height: $height;
  width: $width;
}

.page-header {
    text-decoration: solid;
    h3 {
        text-decoration: $subrayado;
    }
    a {
        border: solid;
    }
}

body {
    background-color: map-get($map: $estilos, $key: color);
    font-family: map-get($map: $estilos, $key: font);
  }
  
  .jumbotron {
    color: white;
    @include sizes(100%; 350px)
    /*width: 100%;
    height: 350px;*/
    background: url("imagenes/fondo.jpg");
    background-size: cover;
    overflow: hidden;
  }
  
  ol {
    color: white;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
  }
  
  .first-day {
    grid-column-start: 3;
  }
  
  .mes {
    background-color: rgb(252, 249, 249);
    font-weight: bold;
  }
  
  .day-name {
    @extend .mes;
    background-color: rgb(14, 14, 14);
    /*font-weight: bold;*/
  }
  
  .calendario {
    text-align: center;
    width: 300px;
  }